.pokemon-list{
    background: #fff;
    margin: 2rem;  
    padding: 1rem;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    max-width: 1280px;
    .pokemon-load{
        width: 100%;
        margin: 1rem;
        text-align: center;
        button{
            padding:8px 150px; 
            font-size: 24px;
        }
    }
    
}
.personal-pokemon-list{
    background: #fff;
    margin: 2rem;  
    padding: 1rem;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    .pokemon-load{
        width: 100%;
        margin: 1rem;
        text-align: center;
        button{
            padding:8px 150px;
        }
    }
    
}

.pokemon-card-container{
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 274px;
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
    .pokemon-display{
        background: #F2F2F2;
        display: flex;
        justify-content: center;
        img{
            width: 215px;
            height: 215px;
            object-fit: contain;
        }
    }
    .pokemon-card-description{
        .description-id{
            color:#919191; 
        }
        .description-Name{
            font-weight: 700; 
            margin: 0px;
        }
        .description-types{
            display: flex;
            flex-wrap: wrap;
            .types-pill{
                padding: 4px 24px;
                margin-right: 4px;
                margin-bottom: 4px;
                border-radius: 4px;
                background: #9bcc50;
                color: black;
                flex-wrap: wrap;  
            }
        }
       
    }
    
} 
.pokemon-detail{ 
    background: #fff;
    margin: 2rem;  
    max-width: 840px;
    align-self:center;
    .pokemon-direction{
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
        cursor: pointer;
        .previous, .next{
            width: 50%;
            padding: 1rem;
            background: #a4a4a4 ;
            .direction-id{
                color: #fff;
                margin:0 4px
            }
        }
        .previous:hover, .next:hover{ 
            background: #30a7d7;
        }
        .next{
            border-left: 1px solid white;
            text-align: right;
        }
    }
    .pokemon-name{
        text-align: center;
        span{
            color: #616161 ;  
        }
    }
    .catch-pokemon{
        margin: 1rem;
        button{
            width: 100%;
        }
    }
    .pokemon-detail-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem ;
        .pokemon-stats, .pokemon-data{
            width: 400px;
        }
        .pokemon-stats{
            flex-direction: column;
            padding-right: 1rem;
            .pokemon-profile-img{ 
                margin-bottom: 1rem;
                background: #f2f2f2;
                border-radius: 4px;
                img{
                    width: 100%;
                    object-fit: cover;
                } 
            } 
            .pokemon-profile{
                display: flex;
                flex-wrap: wrap;
                background: #a4a4a4;
                border-radius: 4px;
                padding: 1rem;
                .profile-title{
                    width: 100%;
                    margin-top: 0px;
                    font-weight: 400;
                }
                .profile-stats{
                    width: 50%; 
                    margin-bottom: 1rem;
                } 
            }
        }
        .pokemon-data{
            flex-direction: column;
            .pokemon-info{
                margin: 1rem 0;
                border-radius: 4px;
                padding: 1rem;
                background: #30a7d7;
                .info-description{
                    display: inline-block;
                    width: 50%;
                    .info-title{
                        margin:0px;
                        color: #fff;
                    }
                    .info-detail{
                        margin: 1rem 0px;
                        color: black;
                    }
                }
            }
            .pokemon-type{ 
                .pokemon-type-list{ 
                    flex-wrap: wrap;  
                    span{
                        padding: 4px 24px;
                        margin-right: 4px;
                        margin-bottom: 4px;
                        border-radius: 4px;
                        background: #9bcc50;
                        color: black;
                    }
                }
            }
        }
        @media only screen and (max-width: 672px) {
            .pokemon-stats{ 
                padding-right: 0px; 
            }
        }

       
    }
    

}